// Colors
$blue: #009de0;
$dark-blue: #283573;
$medium-blue: #9dcdf0;
$light-blue: #d6e7f7;
$background-blue: #ebf3fb;
$yellow: #f2ce3a;
$light-green: #c3cd2a;
$medium-green: #339849;
$magenta: #bf006a;
$pink: #e2abbe;
$red: #ed0000;
$black: #1a1a1a;
$dark-grey: #595959;
$grey: #868585;
$light-grey: #dfdfdf;
$white: #ffffff;

// Fonts
$lobster: "Lobster", cursive;
$opensans: "Open Sans", serif;
